
<body style="margin: 0px;background-image:url(./img/bg.jpg); background-repeat:no-repeat;">
<!--background: #0e0e0e;-->
<script src="./ext/vue.min.js"></script>
<script src="./ext/hls.min.js"></script>
<script src="./ext/jquery-1.8.3.js"></script>

<div id="app-4"  >
  <div id="wf" style="margin:0 auto; width:80%;">
    <div style="margin:10px;">
      <input v-model="querywd" v-bind:placeholder="placeholder" size="50" type='text'/>
      <button v-on:click="querypage">搜索</button>
    </div>
    <!-- <video id="video" controls style="float:left;max-height: 900px;min-height: 340px"></video> -->
    <div v-if="getlist_rsp.data_counts" v-for="(item,index) in getlist_rsp.data" class="unit" >
      <div style="margin:10px; border:0px;text-decoration:none">
        <!-- <img v-bind:src="item.imageUrl" style="width:18px;height:23px;"> -->	
        <p>
			<a v-bind:href="item.url" style="text-decoration:none">{{ index+1 }}.  
			<span style="color:blue;">{{ item.hosttitle }}</span>:
			<span style="color:red;">{{ item.title }}</span>
			<span style="color:#C0C0C0;">({{ item.msg }})</span>
			</a>
		</p>
      </div>
    </div>
	<div v-if="getlist_rsp.data_counts >= 10 " style="margin:10px; border:0px;"><button v-on:click="querymore">加载更多</button></div>
  </div>
</div>
<script src="test.js"></script>
</body>